html, body {
  background: #fff;
  font-family: "MetaSerif-Book", "Helvetica";
  font-weight: 100; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    html, body {
      font-family: "MetaSerif-Book", "Helvetica"; } }

.hero {
	background-color: #1b1b1b;
	background-image: url("../img/pattern.png");
	background-repeat: repeat-y repeat-x;
	min-height: 530px
}

.subhero {
	background-color: #1b1b1b;
	background-image: url("../img/pattern.png");
	background-repeat: repeat-y repeat-x;
}

h1 {
	font-size: 60px;
	font-weight:100;
	color: #fff;
	padding-bottom:10px;
}

h2 {
	font-size: 22px;
	font-weight:100;
	color: #fff;
	line-height:1.5em;
}

h3 {
	font-size:18px;
	color:#fff;
}
.highlight {
	background-color: #ff7030;
} 

.footnote {
	background-color: #929292;
	padding: 1px 10px 2px 10px;
	margin: 0px 50% 0px 0px;
}