html, body {
  background: #fff;
  font-family: "MetaSerif-Book", "Helvetica";
  font-weight: 100; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    html, body {
      font-family: "MetaSerif-Book", "Helvetica"; } }

h1 {
	font-size: 60px;
	font-weight:100;
	color: #fff;
	padding-bottom:10px;
}

h2 {
	font-size: 22px;
	font-weight:100;
	color: #fff;
	line-height:1.5em;
}

h3 {
	font-size:18px;
	color:#fff;
}

.hero {
	background-color: #2a2b35;
	/*--background-image: url("../img/pattern.png");--*/
	background-repeat: repeat-y repeat-x;
	min-height: 530px;
}

.hero h1 {
	padding: 170px 0 0 0;
}

.hero-image {
	position: absolute;
	left: 5%;
	max-width: 275%;
}

.subhero {
	background-color: #3c3e4b;
	/*--background-image: url("../img/pattern.png");--*/
	background-repeat: repeat-y repeat-x;
}

.highlight {
	background-color: #ff7030;
} 

.footnote {
	background-color: #3c3e4b;
	padding: 1px 10px 8px 10px;
	
}

.careers {
	background-color: #f9f9f9;
	padding: 25px 0px 25px 0px;
}

.careers h1 {
	font-size: 36px;
	color: #1b1b1b;
	text-align: left;
}

.careers h3 {
	color: #1b1b1b;
	text-align: left;
	line-height: 1.5em;
}

.card {
	margin: 20px 0px 20px 0px;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #dedede;
	border-radius: 0px;
	text-align:left;
	font-family: sans-serif;
}

.card h2 {
	color: #ff7030;
	font-size: 24px;
	font-family: "MetaSerif-Book";
}

.card a {
	text-decoration: none;
	color: #1b1b1b;
}

.navbar-simple {
	background-color: #fff;
	height: 60px;
	border-bottom: 1px solid #dedede;
}

.navbar-simple h1 {
	font-size: 30px;
	color: #1b1b1b;
	padding: 0px 5% 0px 5%;
}

.navbar-simple a {
	text-decoration: none;
}

.job {
	padding: 50px;
	background-color: #f9f9f9;
}

.headline {
	padding: 50px 20% 20px 20%;
	text-align: center;
}

.headline h1 {
	color: #1b1b1b;
	font-size: 36px;
}

.headline h3 {
	color: #1b1b1b;
	font-family: sans-serif;
	line-height: 1.5em;
	font-weight: 100;
}

.jobdescription {
	line-height: 1.5em;
	text-align: left;
	padding: 10px 20% 10px 20%;
	font-size: 1.1em; 
}

.jobdescription h4 {
	padding-top: 20px;
}



